<%- include('../partials/header') %>
<%- include('../partials/nav') %>
<div class="container">
    <ul class="nav nav-tabs" role="tablist">
        <% categories.forEach(category=> { %>
            <li class="nav-item" role="presentation">
                <a class="nav-link" data-bs-toggle="tab" id="<%= category %>-tab" href="#<%= category.name %>"
                    aria-selected="false" role="tab">
                    <%= category.name %>
                </a>
            </li>
            <% }); %>
    </ul>
    <div id="myTabContent" class="tab-content">
        <% categories.forEach(category => { %>
            <div class="tab-pane fade" id="<%= category.name %>" role="tabpanel">
                <ul>
                    <% if (recipes[category.name]) { %>
                        <% recipes[category.name].forEach(recipe => { %>
                            <li>
                                <h3><a href=/<%= 'recipes/' + recipe.id %>><%= recipe.title %></a></h3>
                            </li>
                        <% }); %>
                    <% } else { %>
                        <li>No recipes found for this category.</li>
                    <% } %>
                </ul>
            </div>
        <% }); %>
    </div>

</div>

<%- include('../partials/footer') %>